{% extends "base.html.twig" %}

{% block aboutNavStyle %}current_page{% endblock %}

{% block content %}
    <h1>History</h1>
    <p>KBK was founded in Dublin in 2010 by Kevin Black. </br>Kevin has won many international Veggie Burger </br>competitions including the coveted Slaw Man's cup.</p>
    <p>He opened KBK with one goal in mind... </br>To bring Veggie Burger Excellence straight to your door!</p>
{% endblock %}