{% extends "baseSecure.html.twig" %}

{% block aboutNavStyle %}current_page{% endblock %}

{% block content %}
    <h1>Welcome to the Secure Admin Area</h1>

    <p>
         With in this area you can create, read, update, and delete data from the site.
    </p>

{% endblock %}