<!DOCTYPE html>
<html lang="en">
<head>
    <title>KBK - Kevin’s Vegeburger Kitchen</title>
    <meta charset="UTF-8">
    {% block stylesheets %}
        <link href='https://fonts.googleapis.com/css?family=Raleway:500|Indie+Flower' rel='stylesheet' type='text/css'>
        <link href="/css/style.css" rel="stylesheet" />
        <link href="/css/nav.css" rel="stylesheet" />
    {% endblock %}
    {% block scripts %}
    {% endblock %}
</head>
<body>
<a id="login" href="/admin">Login to Admin area</a>
<div id="wrapper">
<header>

    <div id="logo"><img src="/img/logo.png"></div>
    <nav>
        <ul>
            <li>
                <a href="/" class="{% block indexNavStyle %}{% endblock %}">Home</a>
            </li>
            <li>
                <a href="/about" class="{% block aboutNavStyle %}{% endblock %}">About</a>
            </li>
            <li>
                <a href="/products" class="{% block productsNavStyle %}{% endblock %}">Products</a>
            </li>
            <li>
                <a href="/contact" class="{% block contactNavStyle %}{% endblock %}">Contact</a>
            </li>
        </ul>
    </nav>
</header>
<main class="public">
    {% block content %}
    {% endblock %}
</main>
<footer>
    <p>Copyright &copy; 2015 Kevins Vegeburger Kitchen Ltd.</p>
</footer>
</div>
</body>
</html>