<!DOCTYPE html>
<html lang="en">
<head>
    <title>KBK - Admin</title>
    <meta charset="UTF-8">
    {% block stylesheets %}
        <link href="/css/style.css" rel="stylesheet" />
        <link href="/css/nav.css" rel="stylesheet" />
    {% endblock %}

    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/jquery.tablesorter.js"></script>
    <script src="/js/admin.js"></script>

</head>
<body>
<a  id="login" href="/logout">Logout</a>
<div id="wrapper">
<header>

    <div id="logo"><h1>KBK Admin</h1></div>
    <nav>
        <ul>
            <li>
                <a href="/admin" class="{% block indexNavStyle %}{% endblock %}">Home</a>
            </li>
            <li>
                <a href="/userAdmin" class="{% block aboutNavStyle %}{% endblock %}">User</a>
            </li>
            <li>
                <a href="/itemAdmin" class="{% block productsNavStyle %}{% endblock %}">Item</a>
            </li>
            <li>
                <a href="/categoryAdmin" class="{% block contactNavStyle %}{% endblock %}">Category</a>
            </li>
        </ul>
    </nav>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
<footer>
    <p>Copyright &copy; 2015 Kevins Vegeburger Kitchen Ltd.</p>
</footer>
</div>
</body>
</html>