{% extends "base.html.twig" %}

{% block contactNavStyle %}current_page{% endblock %}

{% block content %}
    <h1>
        Contact us
    </h1>

    <h3>Address</h3>
    <p>
        Kevin's Veggie Burger Kitchen,
        <br/>
        13 Newmarket,
        <br/>
        Dublin 8
        <br/>

    </p>

    <h3>Phone</h3>
    <p>
        (01) 4620000
    </p>

    <h3>Email</h3>
    <p>
        <a href="mailto:info@kbk.ie">info@kbk.ie</a>
    </p>
{% endblock %}