{% extends "base.html.twig" %}

{% block indexNavStyle %}current_page{% endblock %}

{% block content %}
    <h1>Welcome to Kevin's Veggie Burger Kitchen</h1>
    <p>An award winning catering company, specialising in home delivery vegetarian meals. </br>We have a wide selection of Veggie Burgers, Salads, Drinks, and Desserts.</p>
    <p>Checkout our Products Page you won't be disappointed!</p>
{% endblock %}