{% extends "base.html.twig" %}

{% block scripts %}
    <script src="/js/public.js"></script>
{% endblock %}

{% block productsNavStyle %}current_page{% endblock %}

{% block content %}
    <div id="list">
    {% for p in products %}
        <h2><a href="/products/{{ p.id }}">{{ p.title }}</a><img id={{ p.id }} src="img/{{ p.photo }}"></h2>
    {% endfor %}
    </div>
{% endblock %}